* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b2c8ba;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  border: 2px solid black;
  padding: 10px;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  background-color: #d2e3c8;
}

.kiri img {
  width: 100%;
  border-radius: 25px;
}

.kanan form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container div {
  width: 48%;
}

input,
textarea {
  background-color: #ebf3e8;
  border-radius: 5px;
  border: 1px solid black;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container div {
    width: 100%;
    margin-top: 10px;
  }
}
