* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;

  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  padding: 10px;
  align-items: flex-start;
  box-sizing: border-box;
}

.container div {
  max-width: 350px;
}

.contac form {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  border-radius: 25px;
}

@media (min-width: 600px) {
  .container div {
    width: 100%;
  }
  .container .gambar img {
    width: 100%;
  }
}
